
.icon-watering-can:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-zone:before { content: '\e804'; } /* '' */
.icon-arrow:before { content: '\e805'; } /* '' */
.icon-arrow-left:before { content: '\e807'; } /* '' */
.icon-arrow-righr:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-cross:before { content: '\e80b'; } /* '' */
.icon-hamburger:before { content: '\e80c'; } /* '' */
.icon-calendar:before { content: '\e80e'; } /* '' */
.icon-flower:before { content: '\e80f'; } /* '' */
.icon-lock:before { content: '\e810'; } /* '' */